name: ci
on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04
    container:
      # Source: https://github.com/day8/dockerfile-for-dev-ci-image
      image: ghcr.io/day8/dockerfile-for-dev-ci-image/core:2
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          # All of the Git history is required for day8/lein-git-inject to determine the version string.
          fetch-depth: 0
      - name: Maven cache
        id: maven-cache
        uses: actions/cache@v4
        with:
          path: /root/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('project.clj', '.github/workflows/**') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - run: lein test
        if: steps.maven-cache.outputs.cache-hit != 'true'
      - run: lein -o test
        if: steps.maven-cache.outputs.cache-hit == 'true'
      - name: Slack notification
        uses: homoluctus/slatify@v3.0.0
        if: failure() || cancelled()
        with:
          type: ${{ job.status }}
          job_name: shadow-git-inject Tests
          channel: '#oss-robots'
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
          commit: true
          token: ${{ secrets.GITHUB_TOKEN }}
